<div id="nav" class="non-printable">
  <div id="hamburger-button">
    <span class="default"></span>
    <span class="default"></span>
    <span class="default"></span>
  </div>
  <h1 class="logo"><a href="/">Flow</a></h1>
  <h2 class="logo-line-two">Chart Builder</h2>
</div>