<!DOCTYPE html>
<html ng-app="demoApp">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Flow Chart Builder Page</title>
  <link rel="stylesheet" href="./stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/type.css">
  <link rel="stylesheet" href="/stylesheets/base.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/utilities.css">
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/jquery-ui.js"></script>
  <script src="/javascripts/main.js"></script>
  <script src="/javascripts/updates.js"></script>

</head>

<body>
  <div class="header-build">
      <h1 >Build a Flow Chart</h1>
  </div>
  <div class="builder-main-container">
    
  <!-- This is where they can click to create new svg elements -->
  <div class="building-block-container">
    <h4>Building Blocks:</h4>
    <hr>
    <div class="building-block start-question margin-right-10 f-left ">
      <div style="position:absolute; text-align:center; height:120px; width:140px; margin-top: 50px; margin-left:30px;">
        <h3 >Question 1</h3>
      </div>
      <svg height="200" width="200">
      <circle cx="100" cy="100" r="100" fill="#ED1E79" />
      <text x="70" y="30" fill="black" font-family="Lato" font-size="11px">START HERE</text>
    </svg>
    </div>



    <div class="building-block question boxes margin-right-10 f-left">
      <p>Question box</p>
    </div>
   
    

    <div class=" building-block hort-yes margin-right-10 f-left">
      <svg height="100" width="100">
        <g>
          <line x1="10" y1="50" x2="90" y2="50" style="stroke:rgb(26,230,140);stroke-width:3" />
          <rect x="30" y="40" width="40" height="20" style="fill:rgb(26,230,140)" />
          <text x="38" y="55" fill="white" font-family="Permanent Marker" font-size="13px">YES</text>
        </g>
      </svg>
    </div>

    <div class=" building-block vert-yes margin-right-10 f-left">
      <svg height="50" width="100">
        <g>
          <line x1="50" y1="5" x2="50" y2="45" style="stroke:rgb(26,230,140);stroke-width:3" />
          <rect x="35" y="15" width="30" height="20" style="fill:rgb(26,230,140)" />
          <text x="39" y="29" fill="white" font-family="Permanent Marker" font-size="13px">YES</text>
        </g>
      </svg>
    </div>
   
    <div class="building-block answer boxes margin-right-10 f-left">
      <h4>This is the answer box</h4>
    </div>

    <div class="building-block hort-no margin-right-10 f-left">
      <svg height="100" width="100">
        <g>
          <line x1="10" y1="50" x2="90" y2="50" style="stroke:rgb(97,150,255);stroke-width:3" />
          <rect x="30" y="40" width="40" height="20" style="fill:rgb(97,150,255)" />
          <text x="40" y="55" fill="white" font-family="Permanent Marker" font-size="13px">NO</text>
        </g>
      </svg>
    </div>

    <div class="building-block vert-no margin-right-10 f-left">
      <svg height="50" width="100" style="mergin:0; padding:0;">
        <g>
          <line x1="50" y1="5" x2="50" y2="45" style="stroke:rgb(97,150,255);stroke-width:3" />
          <rect x="35" y="15" width="30" height="20" style="fill:rgb(97,150,255)" />
          <text x="40" y="29" fill="white" font-family="Permanent Marker" font-size="13px">NO</text>
        </g>
      </svg>
    </div>


    <br class="clear-both">

  </div>


  <!-- this is the draggable area where items will append to  -->
  
  <div class="builder-prefs">
    <h4>Preferences:</h4>
    <hr>
    <div class="prefs-buttons">
      <button class="btn save">Save</button>
      <button class="btn clear-container">Empty</button>
      <button class="btn">View Mode</button>
    </div>
    <div class="clear-both"></div>
    <h1 class="title chart-title" contenteditable="true" style="height=100px;"> Chart Title</h1>
  </div>

  <div class="container-canvas">
    <div id="builder-canvas" >
    </div>
  </div>
</div>
</body>

</html>