<!DOCTYPE html>
<html>
<head>
	<% include ../views/partials/head %>
</head>
<body>
	
		<% include ../views/partials/menu %>
	  <% include ../views/partials/nav %>
	<div class="menu-bkg"></div>
  <div class="container">
		<h1 class="all-charts-text">All Charts</h1>
		<div class="container-all-chart-boxes">
			<% for (var i = 0; i < chart.length; i++) { %>
				<a href="/charts/<%= chart[i].id %>"><div class="chart-box">
					<h3><%= chart[i].chart.title %></h3>
				</div></a>
			<% } %>
		</div>
	</div>	
</body>
</html>
