<!DOCTYPE html>
<html>
<head>
	<% include ../views/partials/head %>
	<link rel="stylesheet" href="/stylesheets/builder.css">

</head>
<body>
	<% include ../views/partials/menu %>
  <% include ../views/partials/nav %>
  <div class="container">
		<div class="header-build">
	      <h2><%= title %></h2>
	      <p class="btn header-buttons"><a href="/users/<%= user %>"></a>Creator </p>
				<button class="edit-chart btn header-buttons">Edit Chart</button>
	  </div>

		

		<div class="container-canvas">
			<!-- parsed html that is appended to dom -->
			<div class="load-chart"></div>
		</div>

		<!-- html that is plain text -->
		<div class="db-html hide"><%= html %></div>
	</div>
</body>
</html>