<!DOCTYPE html>
<html>
<head>
	<% include ../views/partials/head %>

</head>
<body>
	<div class="header-build">
      <h1><%= title %></h1>
  </div>

	<p>Done by <%= user %></p>
	<button class="edit-chart">Edit</button>

	<div class="container-canvas">
		<!-- parsed html that is appended to dom -->
		<div class="load-chart"></div>
	</div>

	<!-- html that is plain text -->
	<div class="db-html hide"><%= html %></div>

</body>
</html>