<!DOCTYPE html>
<html>
<head>
	<% include ../views/partials/head %>
</head>
<body>
	<% include ../views/partials/menu %>
  <% include ../views/partials/nav %>
  <div class="container">
		<h2>Charts done with Flow</h2>
			<% for (var i = 0; i < chart.length; i++) { %>
				<div>
					<h3><a href="chart/<%= chart[i].id %>"><%= chart[i].chart.title %></a></h3>
				</div>
			<% } %>
	</div>	
</body>
</html>