<!DOCTYPE html>
<html>
<head>
  <% include ../views/partials/head %>
</head>
<body>
  <% include ../views/partials/menu %>
  <% include ../views/partials/nav %>
  
  <div class="container">
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
    <div class="form-style">
      <h2>Add Account</h2>
      <form action="/connect/local" method="post">
        <input type="text" class="form-control" name="email" placeholder="Email">
        <input type="password" class="form-control" name="password" placeholder="Password">
        <button type="submit" class="btn btn-warning btn-lg">Create Account</button> 
      </form>
      <p><a href="/profile">Go back to profile</a></p>
    </div>
  </div>
</body>
</html>