<!DOCTYPE html>
<html>
<head>
	<% include ../views/partials/head %>
</head>
<body>
  <% include ../views/partials/menu %>
  <% include ../views/partials/nav %>

  <div id="container-home">
    <div class="top-container"></div>
  </div>
 
</body>
</html>





