<!DOCTYPE html>
<html>
<head>
	<% include ../views/partials/head %>
	<link rel="stylesheet" href="/stylesheets/home.css">
	<script src="/javascripts/home.js"></script>
</head>
<body>
  <% include ../views/partials/menu %>
  <% include ../views/partials/nav %>

  <div id="container-home">

    <div class="top-container"> 
    	<div class="main-image-home">
    		<img src="/images/home-image.svg">
    	</div>
    </div>

    <div class="middle-container">
    	<h2>How to build a flow chart ?</h2>
      <img src="/images/home-image2.svg">
    </div>

    <div class="bottom-container">
    	<h3>Got it?<h3>
    	<h2><a href="/login"></a>Start Now &rarr;</a></h2>
    </div> 

  </div>
 
</body>
</html>





