<!DOCTYPE html>
<html>
<head>
	<% include ../views/partials/head %>
	<link rel="stylesheet" href="/stylesheets/home.css">
	<script src="/javascripts/home.js"></script>
  <meta property="og:url"                content="http://flowchartbuilder.herokuapp.com/" />
  <meta property="og:type"               content="article" />
  <meta property="og:title"              content="Build a Flow Chart" />
  <meta property="og:description"        content="Our app is easy and fun to use. Build Flow Charts that you can save, edit, print and share." />
  <meta property="og:image"              content="http://flowchartbuilder.herokuapp.com/images/test.jpg" />
</head>
<body>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '1474809519502013',
        xfbml      : true,
        version    : 'v2.4'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>


  <% include ../views/partials/menu %>
  <% include ../views/partials/nav %>

  <div id="container-home">

    <div class="top-container"> 
    	<div class="main-image-home">
    		<img src="/images/home-image.svg">
    	</div>
    </div>

    <div class="middle-container">
    	<h2 style="margin-top: 15px;">How to build a flow chart ?</h2>
      <iframe src="https://player.vimeo.com/video/134690271?title=0&byline=0&portrait=0" width="900" height="487" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <br>
      <img src="/images/home-image3.svg">
    </div>

    <div class="bottom-container">
    	<h3>Ready to build a flow chart?<h3>
      <% if (login) { %>
      	<h2><a href="/builder">Start Now &rarr;</a></h2>
      <% } else { %>
        <h2><a href="/login">Start Now &rarr;</a></h2>
      <% } %>
      <div class="fb-share-button" data-href="https://flowchartbuilder.herokuapp.com/" data-layout="button"></div>
    </div> 

  </div>
 
</body>
</html>





