<!DOCTYPE html>
<html>
<head>
  <% include ../views/partials/head %>
</head>
<body>
  <% include ../views/partials/menu %>
  <% include ../views/partials/nav %>

  <div class="container container-login">
    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
    <div class="form-style">
      <h2>Login</h2>
      <form action="/login" method="post">
        <input type="text" class="form-control" name="email" placeholder="Email">
        <input type="password" class="form-control" name="password" placeholder="Password">
        <button type="submit" class="btn btn-warning btn-lg">Login</button>
      </form>
      <br>
      <p >Need an account? <a href="/signup">Sign up</a></p>
    </div>
  </div>
</body>
</html>



