<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Hello</title>
   <% include ../views/partials/head %>
</head>
<body>
  <% include ../views/partials/menu %>
  <% include ../views/partials/nav %>
  <div class="container container-login">
    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
      <div class="alert alert-danger"><%= message %></div>
    <% } %>
  	<div class="form-style">
      <h2> Signup</h2>
      <form action="/signup" method="post">
        <input type="text" class="form-control" name="email" placeholder="Email">
        <input type="password" class="form-control" name="password" placeholder="Password">
        <button type="submit" class="btn">Sign up</button>
      </form>
      <p style="margin-top:20px;">Already have an account? <a href="/login">Login</a></p>
  	</div>
  </div>
</body>
</html>