body {
  margin: 0;
  padding: 0;
}



/* ==========================================================================
   BUTTON 
   ========================================================================== */

.btn { 
  background-color: #FFF93F;
  border: solid 1px #FFF93F;
  padding:5px;
  margin-right: 8px;
  text-decoration: none;
  font-size: 12px;
  font-family: 'Unica One';
  color: #333;
}

.btn:hover {
  background-color: #FFCC00;
 
}
.question-update, .question-update-cancel{
  font-family:'Lato';
  font-size: 11px;
  padding: 0;
  margin: 0;
  border: 1px solid rgb(26,230,140);
  background-color: rgb(26,230,140);
  padding: 3px;
  display: inline-block;
}


.question-update-cancel{
  border: 1px solid #E64848;
  background-color: #E64848;
  width:40px;
}

.inline-block{
 display: inline-block;
}


/* ==========================================================================
   FORM STYLES 
   ========================================================================== */

.form-style {
  font-family: 'Lato', arial, sans;
  width: 500px;
  padding: 10px 30px 30px 30px;
  background: #FFFFFF;
  margin: 50px auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}

.form-style h1 {
  padding: 0;
  margin: 0;
}

input[type="text"],
input[type="password"] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 45px;
}

input:focus {
  border-bottom: 2px solid #6196FF;
}

button[type="submit"] {
  background-color: #6196FF;
  border: 1px solid #4469B2;
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  padding: 8px 18px;
  text-decoration: none;
  text-transform: uppercase;
}

button[type="submit"]:hover {
  background-color: white;
  color: #6196FF;
  border: 1px solid #333399;
}