/* ==========================================================================
   FLOW CHART BUILDER PAGE
   ========================================================================== */


/* MAIN CONTAINER */

.builder-page-container{
  background-color: #e2e8e9;
  z-index: 500;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 100px;
  padding-bottom: 30px;
}

/* HEADER */
.header-builder-page{
	background-color: #E6E6E6;
	height: 300px;
	width: 100%;
	text-align: center;
	background-image: url(/images/07t2mb2.gif);
	background-repeat: repeat-x;
	margin-top: -120px;
}

.header-builder-page h2{
	position: relative;
	top: 120px;
	display: inline-block;;
	margin: 0;
	color: yellow;
	border: 2px solid gray;
	padding: 10px;
}

.header-info{
	position: absolute;
	top: 230px;
	left: 30px;
}



/* CONTAINERS AND CANVAS */

.building-block-container {
	padding-bottom: 30px;
	float: left;
	width: 20%;
}

.building-block-container p {
	text-align: center;
}

#container-canvas{
	float: left;
	width: 75%;
	margin-left: 20px;
	height: 100%;
}

.prefs-buttons{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#builder-canvas{
  height: 1000px;
  margin-top: 30px;
  max-width: 1000px;
  border: solid 1px rgb(237, 30, 121);
  padding: 0;
  position: relative;
}

.builder-main-container{
	margin: 2%;
	height: 100%;
	background-color: #E2E8E8;
}


/* BUILDING BLOCKS */

.building-block{
	box-sizing: border-box;
	cursor: pointer;
	padding: 0;
	margin: 0;
}

.building-block:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.boxes {
	box-sizing: border-box;
	margin: 0;
	padding: 14px;
	text-align: center;
	display: inline-block;
	background-color: white;
	margin-right: 20px;
	margin-top: 20px;
}


.question {
	border: solid 2px #B3B3B3;
	min-height: 100px;
	width: 100px;

}

.answer {
	width: 150px;
	min-height: 100px;
	background-color: #FFF93F;
}


.draggable-block{
	margin:0;
}


/* Adding editable hover to blocks on canvas */
.editable1:hover {
	background-color: #B2E6FF;
	cursor: pointer;
}

.editable2:hover {
	background-color: #FFFF66;
	cursor: pointer;
}

.editable3:hover {
	background-color: #FF6666;
	cursor: pointer;
}

.editable3:focus, .editable3{
	outline: none;
	cursor: pointer;
}


/* building block container for question boxes */
.q-and-a-boxes{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}



/* view chart page */

.container{
	height: 100%;
}

.buttons-chart-page{
	text-align: center;
	margin: 40px auto 20px auto;
}

.chart-container-chart-page{
	box-sizing: border-box;
	width: 1000px;
	background-color: white; 
	margin: 0px auto 0px auto;
}

.title-chart-page{
	text-align: center;
	line-height: 100px;
	border-bottom: solid 3px #6196FF;
	margin-bottom: 20px;
}


.load-chart{
	box-sizing: border-box;
	margin-top: 40px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
  position: relative;
  height: 1000px;
  width: 1000px;
}

#container-content {
	width: 100%;
	height: 1200px;
	background-color: #e2e8e9;
}

.chart-page-main-container{
	background-image: url(/images/worn_dots.png);
	background-repeat: repeat;
	height: 100%;
}

.header-buttons{
	display: inline-block;
}


#main-image{
	background-color: #E6E6E6;
	height: 300px;
	width: 100%;
}


.options {
	margin-left: 10px;
	margin-top: 20px;
}

.ui-draggable-dragging svg {
	opacity: 80%;
}

