/*rgba(97,150,255, 0.9)*/


/* ==========================================================================
   ALL CHARTS
   ========================================================================== */

.menu-bkg{
	height: 110px;
	width: 100%;
	z-index: 700;
	background-color: rgba(97,150,255, 0.9);
	position: absolute;
	top: 0;
	left: 0;
}

.all-charts-text {
	text-align: center;
	margin-top: 80px;
	padding-bottom: 30px;
	color: rgb(43,41,55); 
}

.container-all-chart-boxes {
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  align-content: flex-start;
  justify-content: center;

}

.chart-box{
	width: 100px;
	height: 100px;
	margin: 10px;
	padding: 20px;
	background-image: url(/images/flow-circle.svg);
	background-repeat: no-repeat;
	z-index: 100;
}


.chart-box h3{
	z-index: 200;
	width: 120px;

	text-align: center;
	font-size: 16px;
	line-height: 22px;
	color: white;

	position: relative;
	top: 20px;
	left: -10px;
}

.chart-box:hover{
	background-image: url(/images/flow-circle-yellow.svg);
	
}




/*green rgb(26,230,140);*/


/* ==========================================================================
   login, signup 
   ========================================================================== */


.container-login{
	background-image: url(/images/pattern-shapes3.jpg);
	background-repeat: repeat;
}


/* ==========================================================================
   Users
   ========================================================================== */

.container-users{
	text-align: center;
}

.container-users h3{
	font-size: 18px;
	line-height: 20px;
	color: rgb(97,150,255);
}


.users-name{
	margin: 0;
	padding: 0;
	color: rgb(43,41,55); 
	margin-top: 50px;
	margin-bottom: 20px;
}


.main-content{
	width: 70%;
	float: left;
	margin-left: 20px;
}

.sidebar {
	background-color: #CBD1D4;
	width: 25%;
	margin-left: 20px;
	float: left;
	margin-top: 50px;
	box-sizing: border-box;
	padding: 10px;
}

.profile-box{
	border-bottom: 1px solid white;
	width: 100%;
	box-sizing: border-box;
	padding: 15px 20px 30px 20px;
}

.profile-box:last-child{
	border-bottom: 0px solid white;
	padding: 15px;
}




