@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(http://fonts.googleapis.com/css?family=Unica+One);


h1{
	margin:0;
	font-family: 'Unica One';
	font-size: 54px;
	line-height: 60px;
	color: #6196FF;
}

	
.chart-title {
	display: inline-block;
	background-color: #6196FF;
	color: white;
	padding: 0 10px 0 10px;
}

h3{
	margin:0;
	padding:0;
	font-family: 'Lato';
	font-size: 22px;
	line-height: 25px;
	margin-bottom: 10px;
}

h4{
	margin:0;
	padding:0;
	font-family: 'Lato';
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
}

body {
  -webkit-font-smoothing:antialiased;
}


p {
	padding: 0;
	margin: 0;
	font-family: 'Lato';
	font-size: 12px;
	line-height: 18px;
}

p:last-child {
	margin-bottom: 10px;
}

a {

	text-decoration: none;

}

a:hover{
	background-color: #FFCC00;
}




