@import url(//fonts.googleapis.com/css?family=Lato:400,700);
@import url(//fonts.googleapis.com/css?family=Permanent+Marker);
@import url(//fonts.googleapis.com/css?family=Unica+One);

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin:0;
}

h1{
	margin:20px 0px 20px 0px;
	font-family: 'Unica One';
	font-size: 80pt;
	line-height: 60px;
	color: #6196FF;
}
	
h2{
	margin:20px 0px 20px 0px;
	font-family: 'Unica One';
	font-size: 54px;
	line-height: 60px;
	color: #6196FF;
}

h3{
	font-family: 'Lato';
	font-size: 22px;
	line-height: 25px;
	margin-bottom: 10px;
}

h4{
	font-family: 'Lato';
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
}

.chart-title {
	box-sizing: border-box;
	background-color: #6196FF;
	color: white;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 1000px
}



.start-question h3{
	font-family: 'Permanent Marker';
	color: white;
	vertical-align: middle;
	margin: 0;
	padding: 0;
}



body {
  -webkit-font-smoothing:antialiased;
}


p, .question{
	padding: 0;
	margin: 0;
	font-family: 'Lato';
	font-size: 12px;
	line-height: 18px;
}

/*p:last-child {
	margin-bottom: 10px;
}
*/
a {
	text-decoration: none;
	color:#838383;
}

a:hover{
	font-weight: bold;
	color: #303030;
}

a:visited {
	color: none;
}



