.clear-both {
	clear: both;
}

.margin-top-30 {
	margin-top: 30px;
}

.f-left{
	float: left;
}

.hide {
	display: none;
}

.margin-right-10 {
	margin-right: 10px;
}

hr{
	border-top: dashed 1px gray;
	margin-top: 15px;
	margin-bottom: 30px;
}

.inline-block{
 display: inline-block;
}